{% extends "users/base.html" %}
{% load static %}

{% block title %}{{ course.name|title }} Quiz{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7  mx-auto">
                            <h3 name="student" id="student" value="{{ request.user }}">{{ request.user }}</h3>
                            <h4>COURSE TITLE: {{ course.quiz_name }}</h4>
                            <div class="text-end" id="count"></div>
                            {% if questions|length >= 1 %}
                            <p class="mb-1 text-muted">Please read question carefully</p>
                            {% else %}
                            <p>No questions uploaded for this course </p>
                            {% endif %}
                            
                            <div id="quiz__form">
                            <form method="POST" action="">
                            {% csrf_token %}
                            
                            {% for q in page_obj %}
                            <div class="form-group">
                                <div class="col alert-primary p-3 rounded" role="alert" name="question" id="question" value="{{ q.question }}">
                                    Q. {{ q.question }}
                                </div>
                                <br>
                                
                                <fieldset id="answers">
                                    <div class="form-check">
                                        <input class="form-check-input" value="{{ q.option1 }}" type="radio" name="option" id="option1">
                                        <label class="form-check-label" for="option1">
                                            A. {{ q.option1 }}
                                        </label>
                                    </div>
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="option" id="option2" value="{{ q.option2 }}">
                                        <label class="form-check-label" for="option2">
                                            B. {{ q.option2 }}
                                        </label>
                                    </div>
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="option" id="option3" value="{{ q.option3 }}">
                                        <label class="form-check-label" for="option3">
                                            C. {{ q.option3 }}
                                        </label>
                                    </div>
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="option" id="option4" value="{{ q.option4 }}">
                                        <label class="form-check-label" for="option4">
                                            D. {{ q.option4 }}
                                        </label>
                                    </div>
                                </fieldset>
                                  <input type="hidden" name="answer" id="answer" value="{{q.answer}}">
                                </div>

                                {% endfor %}
                                {% if messages %}
                                    <div class="messages">
                                    {% for message in messages %}
                                    <div{% if message.tags %} class="alert alert-sm alert-{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                    </div>
                                    {% endfor %}
                                    </div>
                                {% endif %}                                
                                <input class="btn btn-primary check-btn mb-3" type="submit" value="Save" id="submit" onclick="saveQuiz()"/>
                                </form>

                                </div>
                            
                            {% if questions|length >= 1 %}
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link btn btn-light" id="first" role="button" href="?page=1">First</a></li>
                                        <li class="page-item"><a class="page-link btn btn-light" id="previous" role="button" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                    {% endif %}

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active"><a class="page-link" style="color: rgb(21, 180, 233);" href="?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link btn btn-light" id="next" role="button" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            </div>
                                           
                        {% comment %} <input type="text" id="totalScore"> {% endcomment %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}